html {
  overflow-y:scroll;
}
body {
  padding-top:50px;
  width: 80%;
  margin: 0 auto;
}
#todo-list {
  margin-bottom:30px;
}
.hide {
  display: none;
}
nav {
  text-align: center;
}
input {
  border-radius: 15px;
  margin: 3px;
  text-align: center;
}