<h1>New Task</h1>

<form name="taskForm" ng-controller='TaskCtrl'>
  <input type="text", ng-model="taskForm.name" placeholder="Name">
  <br>
  <input type="text" ng-model="taskForm.description" placeholder="Description">
  <br>
  <input type="text" ng-model="taskForm.reward" placeholder="Reward">
  <br>
  <input type="text" ng-model="taskForm.priority" placeholder="Priority">
  <br>
  <input ng-click="createTask(taskForm.name, taskForm.description, taskForm.reward, taskForm.priority)" type="submit" val="Create Task">
  <br>
</form>
