<h1>Tasks</h1>
<hr />

<div ng-controller="TaskCtrl">
  <input type="text" ng-model="search" placeholder="Search" />
  <br><br>

  <h4>INCOMPLETE</h4>
  <br>
  <div ng-repeat="task in tasks | filter: task.complete | filter:search">
    <h4>{{task.name}}</h4>
      <ul>
        <li>Description: {{task.description}}</li>
        <li>Reward: {{task.reward}} Points</li>
        <li>Priority: {{task.priority}}</li>
      </ul>
      <button ng-click="setTaskStatus(task.name, true)" class="btn-xs btn-success">Done</button>
      <br><br>
  </div>

  <hr />

  <h4>COMPLETE</h4>
  <br>
  <div ng-repeat="task in tasks | filter: !task.complete | filter:search" >
    <h4>{{task.name}}</h4>
      <ul>
        <li>Description: {{task.description}}</li>
        <li>Reward: {{task.reward}} Points</li>
        <li>Priority: {{task.priority}}</li>
      </ul>
      <button ng-click="setTaskStatus(task.name, false)" class="btn-xs btn-warning">Not Yet</button>
      <br><br>
  </div>

</div>